* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#6ba7db, #6bdb89, #eb5e5e);
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Use viewport height for full screen */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  color: white;
}

.bodyy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center horizontally */
}

.title {
  font-size: 100px;
  text-align: center;
  font-family: Bungee Spice;
  margin: 40px 0;
  text-shadow: 7px 7px 6px rgb(68, 65, 65);
  overflow: hidden; /* Ensures the text is not visible outside the container */
  border-right: .15em solid orange; /* Typewriter cursor */
  white-space: nowrap; /* Prevents the text from wrapping */
  animation: typewriter 4s steps(70) infinite;
  }
@keyframes typewriter {
  from {
    width: 0; /* Starts with no width */
  }
  to {
    width: 100%; /* Ends with full width */
  }
}

.btn {
  padding: 10px 35px;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  outline: none;
  transition: 0.6s ease;
  margin-top: 20px; /* Adjust the margin to create space between text and button */
}

.btn:hover {
  cursor: pointer;
  color: white;
  box-shadow: 0 0 5px white;
  font-weight: bold;
  border: 1px solid white;
}